@font-face {
    font-family: "Iskra W04 Regular";
    src: url("../fonts/4866e277bf7a961362f10bc13925cbbf.eot"); /* IE9*/
    src: url("../fonts/4866e277bf7a961362f10bc13925cbbf.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/4866e277bf7a961362f10bc13925cbbf.woff2") format("woff2"), /* chrome、firefox */
        url("../fonts/4866e277bf7a961362f10bc13925cbbf.woff") format("woff"), /* chrome、firefox */
        url("../fonts/4866e277bf7a961362f10bc13925cbbf.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("../fonts/4866e277bf7a961362f10bc13925cbbf.svg#Iskra W04 Regular") format("svg"); /* iOS 4.1- */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Exodus - Personal Use Striped";
    src: url("../fonts/1a8b65a4ba2c9c91d59926675a3846a6.eot"); /* IE9*/
    src: url("../fonts/1a8b65a4ba2c9c91d59926675a3846a6.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/1a8b65a4ba2c9c91d59926675a3846a6.woff2") format("woff2"), /* chrome、firefox */
        url("../fonts/1a8b65a4ba2c9c91d59926675a3846a6.woff") format("woff"), /* chrome、firefox */
        url("../fonts/1a8b65a4ba2c9c91d59926675a3846a6.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("../fonts/1a8b65a4ba2c9c91d59926675a3846a6.svg#Exodus - Personal Use Striped") format("svg"); /* iOS 4.1- */
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
  @font-face {
    font-family: "Iskra W01 Medium";
    src: url("../fonts/927ab6d3bfe47986e07018d17e1a4b61.eot"); /* IE9*/
    src: url("../fonts/927ab6d3bfe47986e07018d17e1a4b61.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/927ab6d3bfe47986e07018d17e1a4b61.woff2") format("woff2"), /* chrome、firefox */
        url("../fonts/927ab6d3bfe47986e07018d17e1a4b61.woff") format("woff"), /* chrome、firefox */
        url("../fonts/927ab6d3bfe47986e07018d17e1a4b61.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("../fonts/927ab6d3bfe47986e07018d17e1a4b61.svg#Iskra W01 Medium") format("svg"); /* iOS 4.1- */
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Baskerville";
    src: url("../fonts/f929174bda22c1821db22ab9760b082a.eot"); /* IE9*/
    src: url("../fonts/f929174bda22c1821db22ab9760b082a.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
        url("../fonts/f929174bda22c1821db22ab9760b082a.woff2") format("woff2"), /* chrome、firefox */
        url("../fonts/f929174bda22c1821db22ab9760b082a.woff") format("woff"), /* chrome、firefox */
        url("../fonts/f929174bda22c1821db22ab9760b082a.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("../fonts/f929174bda22c1821db22ab9760b082a.svg#Baskerville") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-display: swap;
}