$exodus-striped:  "Exodus - Personal Use Striped", serif;
$baskerville: "Baskerville", serif;

%iskra-regular{
    font-family:"Iskra W04 Regular", sans-serif;
    font-weight: 400;
}
%iskra-medium{
    font-family:"Iskra W01 Medium", sans-serif;
    font-weight: 500;
}

$green-color: #76a207;
$red-color: #e73a3c;
$orange-color: #e85c07;
$grey-color: #adadad